---
title : خرید مواد پروبیوتیکی
canonical : https://dugijan.ir
meta_description : دوگیجان اولین تولیدی محصولات پروبیوتیکی و تخمیری در ایران
---
{% include header.html %}
<main>
  <section class="xb7f-section">
    <div class="xb7f-container">
      <div class="xb7f-left-col">
        <!-- You can use either image or video here -->
        <!-- <img src="https://via.placeholder.com/800x500" alt="Sample image" class="xb7f-media"> -->

        <video class="xb7f-media" controls>
          <source src="statics/video/dugijan-kimchi-firstpage-video.mp4" type="video/mp4">
          <source src="/statics/video/dugijan-kimchi-firstpage-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
      <div class="xb7f-right-col">
        <h2 class="xb7f-title">دوگیجان مرکز پروبیوتیکی ایران</h2>
        <p class="xb7f-text">به دوگیجان خوش اومدید</p>
        <p class="xb7f-text">خرید کامبوجا خرید ساورکرات خرید کیمچی اصل کره خرید خیارشور تخمیری و ...</p>
        <a href="{{site.url}}/products" class="xb7f-button">فروشگاه</a>
      </div>
    </div>
  </section>
  <section class="xb7f-section">
    <div class="xb7f-container">
      <div class="xb7f-left-col">
        <h3>کیمچی چیست ؟ </h3>
        <p>
            کیمچی یک چاشنی ( ترشی ) تخمیری هست که مبدا آن کشور کره ی جنوبی و غذایی با قدمت بسیار بالا میباشد در تهیه و تولید کیمچی هیچ نوع
            ماده اسیدی و شیمایی همانند سرکه های فرآوری شده استفاده نمیشود و تولید آن توسط
            تخمیر سبزیجات و آزادسازی قند درون آنها میباشد که باعث تولید مواد پروبیوتیکی و باکتری های مفید میشود
            علاوه بر اینکه کیمچی در کنار غذا طعمی لذت بخش دارد بلکه برای تقویت معده ، رفع مشکلات و بیماری های معده ، سلامت گوارش
            ، افزایش متابولیسم و گردش خون ، تناسب اندام و ... مناسب است
            کیمچی دارای انواع مختلفی هست که شما میتوانید انواع کیمچی ها را از دوگیجان خریداری کنید که کاملا تازه و ارگانیک میباشد 
            <a target="_blank" href="{{site.url}}/category/kimchi" class="has-background-primary">خرید کیمچی</a>
        </p>

      </div>
      <div class="xb7f-right-col">
        <img src="/statics/img/pages/home/dugijan-kimchi-home-page-slide.jpg" alt="کیمچی چیست ؟‌خرید کیمچی اصل کره ای" class="xb7f-media">
      </div>
    </div>
  </section>
  <section class="xb7f-section">
    <div class="xb7f-container">
      <div class="xb7f-left-col">
        <img src="/statics/img/pages/home/sauerkraut-home-slide.jpg" alt="ساورکرات چیست و از کجا بخریم" class="xb7f-media">
      </div>
      <div class="xb7f-right-col">
        <h3> ساورکرات چیست ؟ </h3>
        <p>
            ساورکرات که به آن کلم ترش هم میگن یه نوع ترشی تخمیری هست که سرشار از مواد پروبیوتیکی هست مبدا این ترشی به چند هزار سال
            قبل و کشور چین برمیگرده ولی امروزه این ترشی رو بعنوان ترشی آلمانی میشناسن ، از اونجایی که این ترشی سرشار از پروبیوتیک هست برای بیمارانی
            که نیاز به پروبیوتیک دارند شدیدا توصیه میشه ، مزه ترشی ملایم داره و هر نوع از آن عطر و طعم خودشو داره 
            <a target="_blank" href="{{site.url}}/category/sauerkraut" class="has-background-primary">خرید ساورکرات</a>
        </p>
      </div>
    </div>
  </section>
  
  <section class="xb7f-section">
    <div class="xb7f-container">
      <div class="xb7f-left-col">
        <h3>کامبوچا چیست ؟ </h3>
        <p>
          کامبوجا یک نوشیدنی تخمیری هست که توسط قارچی به نام اسکوبی ( قارچ مادر کامبوچا ) تولید میشود
          این قارچ به واسطه ی تخمیر مواد درون آن و خوردن قند آن قارچی جدید تولید میکند و قارچ جدید 
          در فرآیند تولدش یک مایع نوشیدنی کاملا کربی و گازدار میسازد
          ، نوشیدنی کامبوجا  طعم های مختلفی دارد ولی بصورت معمول طعم آن کمی ملس مایل به ترش و گازدار هست و گاز آن کاملا ارگانیک و 
          محصول تخمیر آن است
            <a target="_blank" href="{{site.url}}/category/kombucha" class="has-background-primary">خرید کامبوچا </a>
        </p>

      </div>
      <div class="xb7f-right-col">
        <img src="/statics/img/pages/home/kombucha-home-slide.jpg" alt="کامبوجا چیست ؟‌خرید آنلاین کامبوجا" class="xb7f-media">
      </div>
    </div>
  </section>
  <div class="rtl-slider-container">
    <div class="rtl-slider-track">
      <div class="rtl-slide">
        <!-- Your slide content (e.g., image) -->
        <img src="/statics/img/slider/sauerkraut.jpg" alt="خرید ساورکرات">
      </div>
      <div class="rtl-slide">
        <img src="/statics/img/slider/Kombucha-Recipe-0010.jpg" alt="Slide 2">
      </div>
      <div class="rtl-slide">
        <img src="/statics/img/slider/Kimchi2.jpg" alt="Slide 3">
      </div>
      <!-- Add more slides as needed -->
    </div>
    <div class="rtl-slider-dots"></div>
  </div>

  <section>
    <h2 style="text-align: right;">معرفی دوگیجان</h2>
    <p style="text-align: right;">دوگیجان یک تولیدی&nbsp; مواد غذایی پروبیوتیکی کاملا سالم و ارگانیک در شهر تبریز می
      باشد که مفتخر است با کیفیت ترین ترشی کیمچی تخمیری را در ایران تولید میکند و ۱۰۰٪&zwnj; رضایت مشتریانش را جلب
      کرده است. همچنین علاوه بر کیمچی دیگر محصولات تخمیری و پروبیوتیکی مثل ساورکرات ها ، نوشیدنی گازدار کامبوچا (
      چای کامبوچا ) ، خیارشور تخمیری و ... بخشی از محصولات ما میباشد. پیشنهاد میشود از بخش محصولات ما دیدن
      فرمائید. تمامی مواد تولیدی در دوگیجان از مواد اولیه با کیفیت درجه یک ، سالم و تازه میباشد و همچنین همه ی
      محصولات طبق فرهنگ ایرانی و اسلامی تولید میشود و کاملا حلال میباشد</p>
    <p style="text-align: right;">&nbsp;</p>
    <p style="text-align: right;"><strong>چرا باید پروبیوتیک مصرف کنیم ؟&zwnj;</strong></p>
    <p style="text-align: right;">ما باید روزانه به آنچه که میخوریم توجه کنیم زیرا آرام آرام در جسم و روح ما نفوذ
      میکند متاسفانه امروزه مصرف فست فود ها و نوشیدنی های قندی به حد بالایی رسیده است و همین مسئله باعث پیری و
      افسردگی جامعه میشود همچنین باعث افزایش وزن ، دیابت ، فشار خون و هزاران مرض دیگر میشود. در این میان پروبیوتیک
      های طبیعی هستند که به داد ما میرسند زیرا در تولید این نوع مواد تخمیری هیچ نوع ماده مضر اسیدی و شیمیایی وجود
      ندارد و باکتری های مفیدی تولید میشود که باعث کاهش مضرات فستفود و مواد قندی فرآوری شده میشود</p>
    <ul>
      <li style="text-align: right;">اگر اضافه وزن دارید</li>
      <li style="text-align: right;">اگر دچار ناراحتی اعصاب و افسردگی شده اید</li>
      <li style="text-align: right;">اگر خواب نا منظم دارید</li>
    </ul>
    <p style="text-align: right;">و در نهایت اگر به سلامت جسم و روح خودتان اهمیت میدهید برای یکبار هم که شده مواد
      پروبیوتیکی تولید شده در دوگیجان را امتحان کنید و از نتایج شگفت انگیز آن روی سلامت جسمی و سلامت روحی خود
      متعجب خواهید شد</p>
    <h2 style="text-align: right;">&nbsp;</h2>
    <h2 style="text-align: right;">تاریخچه ی استفاده از مواد پروبیوتیکی یا تخمیری&nbsp;</h2>
    <p style="text-align: right;">&nbsp;شواهد نشان میدهد روش پروبیوتیک یا تخمیر برای اولین بار از شمال چین و جنوب
      مغولستان رواج داشته و آنها انواع موادغذایی پروبیوتیکی را تولید میکردند ، احتمال اینکه مواد را تخمیر میکردند
      افزایش ماندگاری آن بوده و شاید راز سلامتی آن را با دقت امروزی نمیدانستند ولی ما امروز میدانیم که مواد
      پروبیوتیکی یا تخمیری چقدر برای سلامتی انسان و مخصوصا برای افرادی که شهرنشینی را تجربه میکنند مفید است</p>
    <p style="text-align: right;">بیش از هزار سال از قدمت تخمیر مواد میگذرد و این روش برای تولید انواع نوشیدنی
      ترشیجات و ... در تمام مناطق دنیا استفاده شده است</p>
    <p style="text-align: right;">فرآیند تخمیر قند درون مواد را مصرف میکند و محصول جدیدی را تولید میکند محصول جدید
      ممکن است یک قارچ کامبوچای جدید باشد یا یک ترشی کیمچی !&zwnj;&nbsp;</p>
  </section>

  <section>
    <p class="notification">لیست اخرین محصولات دوگیجان</p>
    <ul>
      {% for product in site.products %}
      <li>
        {{ forloop.index }} -
        <a class="has-text-no-decoration" href="{{ product.url }}">{{ product.name }}</a> - {{ product.price }} تومان
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% include footer.html %}