---
---
{% include header.html %}
<main>
    <div class="rtl-slider-container">
        <div class="rtl-slider-track">
          <div class="rtl-slide">
            <!-- Your slide content (e.g., image) -->
            <img src="/statics/img/slider/sauerkraut.jpg" alt="خرید ساورکرات">
          </div>
          <div class="rtl-slide">
            <img src="/statics/img/slider/Kombucha-Recipe-0010.jpg" alt="Slide 2">
          </div>
          <div class="rtl-slide">
            <img src="/statics/img/slider/Kimchi2.jpg" alt="Slide 3">
          </div>
          <!-- Add more slides as needed -->
        </div>
        <div class="rtl-slider-dots"></div>
      </div>

    <section>
        <h2 style="text-align: right;">معرفی دوگیجان</h2>
        <p style="text-align: right;">دوگیجان یک تولیدی&nbsp; مواد غذایی پروبیوتیکی کاملا سالم و ارگانیک در شهر تبریز می
            باشد که مفتخر است با کیفیت ترین ترشی کیمچی تخمیری را در ایران تولید میکند و ۱۰۰٪&zwnj; رضایت مشتریانش را جلب
            کرده است. همچنین علاوه بر کیمچی دیگر محصولات تخمیری و پروبیوتیکی مثل ساورکرات ها ، نوشیدنی گازدار کامبوچا (
            چای کامبوچا ) ، خیارشور تخمیری و ... بخشی از محصولات ما میباشد. پیشنهاد میشود از بخش محصولات ما دیدن
            فرمائید. تمامی مواد تولیدی در دوگیجان از مواد اولیه با کیفیت درجه یک ، سالم و تازه میباشد و همچنین همه ی
            محصولات طبق فرهنگ ایرانی و اسلامی تولید میشود و کاملا حلال میباشد</p>
        <p style="text-align: right;">&nbsp;</p>
        <p style="text-align: right;"><strong>چرا باید پروبیوتیک مصرف کنیم ؟&zwnj;</strong></p>
        <p style="text-align: right;">ما باید روزانه به آنچه که میخوریم توجه کنیم زیرا آرام آرام در جسم و روح ما نفوذ
            میکند متاسفانه امروزه مصرف فست فود ها و نوشیدنی های قندی به حد بالایی رسیده است و همین مسئله باعث پیری و
            افسردگی جامعه میشود همچنین باعث افزایش وزن ، دیابت ، فشار خون و هزاران مرض دیگر میشود. در این میان پروبیوتیک
            های طبیعی هستند که به داد ما میرسند زیرا در تولید این نوع مواد تخمیری هیچ نوع ماده مضر اسیدی و شیمیایی وجود
            ندارد و باکتری های مفیدی تولید میشود که باعث کاهش مضرات فستفود و مواد قندی فرآوری شده میشود</p>
        <ul>
            <li style="text-align: right;">اگر اضافه وزن دارید</li>
            <li style="text-align: right;">اگر دچار ناراحتی اعصاب و افسردگی شده اید</li>
            <li style="text-align: right;">اگر خواب نا منظم دارید</li>
        </ul>
        <p style="text-align: right;">و در نهایت اگر به سلامت جسم و روح خودتان اهمیت میدهید برای یکبار هم که شده مواد
            پروبیوتیکی تولید شده در دوگیجان را امتحان کنید و از نتایج شگفت انگیز آن روی سلامت جسمی و سلامت روحی خود
            متعجب خواهید شد</p>
        <h2 style="text-align: right;">&nbsp;</h2>
        <h2 style="text-align: right;">تاریخچه ی استفاده از مواد پروبیوتیکی یا تخمیری&nbsp;</h2>
        <p style="text-align: right;">&nbsp;شواهد نشان میدهد روش پروبیوتیک یا تخمیر برای اولین بار از شمال چین و جنوب
            مغولستان رواج داشته و آنها انواع موادغذایی پروبیوتیکی را تولید میکردند ، احتمال اینکه مواد را تخمیر میکردند
            افزایش ماندگاری آن بوده و شاید راز سلامتی آن را با دقت امروزی نمیدانستند ولی ما امروز میدانیم که مواد
            پروبیوتیکی یا تخمیری چقدر برای سلامتی انسان و مخصوصا برای افرادی که شهرنشینی را تجربه میکنند مفید است</p>
        <p style="text-align: right;">بیش از هزار سال از قدمت تخمیر مواد میگذرد و این روش برای تولید انواع نوشیدنی
            ترشیجات و ... در تمام مناطق دنیا استفاده شده است</p>
        <p style="text-align: right;">فرآیند تخمیر قند درون مواد را مصرف میکند و محصول جدیدی را تولید میکند محصول جدید
            ممکن است یک قارچ کامبوچای جدید باشد یا یک ترشی کیمچی !&zwnj;&nbsp;</p>
    </section>
</main>
{% include footer.html %}