---
canonical:"https://dugijan.ir/products"
title : "لیست محصولات پروبیوتیکی دوگیجان"
---
{% include header.html %}
<div class="products-container">
    <div class="product-box">
      <div class="product-image">
        <img src="product1.jpg" alt="Product Name">
      </div>
      <div class="product-title">Product Name 1</div>
    </div>
    <div class="product-box">
      <div class="product-image">
        <img src="product2.jpg" alt="Product Name">
      </div>
      <div class="product-title">Product Name 2</div>
    </div>
    <!-- Add more product boxes as needed -->
  </div>
{% include footer.html %}