---
---
{% include header.html %}
<div>
    <h2>دسته بندی محصولات دوگیجان : </h2>
</div>
<div class="products-container">
    <div class="product-box">
      <div class="product-image">
        <img src="/statics/img/categories/kimchi-category.jpg" alt="دسته بندی کیمچی">
      </div>
      <div class="product-title">کیمچی ها </div>
    </div>
    <div class="product-box">
      <div class="product-image">
        <img src="/statics/img/categories/kombucha-category.jpg" alt="دسته بندی کامبوجا">
      </div>
      <div class="product-title">کامبوچا ها</div>
    </div>
    <div class="product-box">
        <div class="product-image">
          <img src="/statics/img/categories/sauerkraut-category.jpg" alt="دسته بندی ساورکرات">
        </div>
        <div class="product-title">ساورکرات ها</div>
      </div>
    <!-- Add more product boxes as needed -->
  </div>
{% include footer.html %}