---
title: "خرید مواد لازم برای تهیه کامبوچا"
canonical: "https://dugijan.ir/product/produce/scoby-pack"
product_name: "پک کامل کامبوچا سازی"
product_slug: kombucha-making-pack
product_price: 499000
product_status: موجود
---

{% include header.html %}

<!-- Product Section -->
<section class="product-page">
    <div class="product-container">
        <!-- Product Image -->
        <div class="product-page-image">
            <img src="/statics/img/products/scoby-pack/lfIpUNtu9RUFpac60zhIRrE9S1i8tbce1V8i1KTLoVr4rVvGrr.jpg_800X800X70.jpg" alt="خرید لوازم کامبوچا سازی در منزل" id="product-img">
        </div>

        <!-- Product Details -->
        <div class="product-details">
            <h1 id="product-name">{{page.product_name}}</h1>
            <ul>
                <li>پک کامل به همراه تمام لوازم</li>
                <li>لیست محتویات در قسمت جزئیات</li>
            </ul>

            <hr>
            <p class="price" id="product-price">{{page.product_price | toman}} تومان</p>
            <p class="availability">{{page.product_status}}</p>
            
            <!-- Add to Cart Button -->
            <button class="add-to-cart-btn" id="addToCartBtn">افزودن به سبد خرید</button>

            <!-- Product Description -->
            <div class="description">
                <h3>جزئیات محصول</h3>
                <p>
                    <h2 style="text-align: right;">پک کامبوچا سازی در منزل</h2>
                    <p style="text-align: right;">این پک شامل تمام مواد لازم جهت تهیه کامبوچا در منزل توسط خودتان می باشد تا دردسر تهیه لوازم را نکشید و همه چیز دم دستتان باشد مخصوصا اگر برای اولین بار قصد دارید کامبوچا تولید کنید ممکن است نبودن وسایل اولیه مشکل زا باشد</p>
                    <p style="text-align: right;">این پک مشکل شما را حل می کند مخصوصا اگر تجربه ی کافی نداشته باشید و اندازه های مواد لازم را به دقت ندانید</p>
                    <p style="text-align: right;">این پک شامل موارد زیر میباشد :&zwnj;</p>
                    <ol>
                    <li style="text-align: right;">نیم لیتر مایع استارتر یا شروع کننده&nbsp;</li>
                    <li style="text-align: right;">یک عدد قارچ کامبوچا مادر</li>
                    <li style="text-align: right;">بانکه و درپوش پارچه ای جهت تخمیر</li>
                    <li style="text-align: right;">چای سبز و شکر به میزان لازم&nbsp;</li>
                    <li style="text-align: right;">صافی&nbsp;</li>
                    <li style="text-align: right;">بطری جهت نگهداری محصول نهایی</li>
                    <li style="text-align: right;">بروشور آموزش دقیق به همراه نکته های لازم</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p style="text-align: right;">میزان دقیق مواد لازم درون آموزش به همراه پک ارسال میشود و اگر با دقت انجام دهید طی ۱۰ الی ۱۴ روز نوشیدنی کامبوچای شما تخمیر شده و آماده مصرف می باشد و همچنین یک عدد قارچ جدید فرزند رشد کرده که برای تولیدات بعدی میتوانید استفاده کنید . هر قارچ ۴ بار میتواند قارچ مادر باشد و سپس میتوانید آنرا دور بیاندازید و با فرزندان آن قارچ شروع به تخمیر مجدد کنید</p>
                    <p style="text-align: right;">&nbsp;</p>
                </p>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}