---
title: "خرید قارچ کامبوچا با استارتر"
canonical: "https://dugijan.ir/product/produce/scoby"
product_name: "قارچ کامبوچا به همراه استارتر"
product_slug: scoby-and-starter
product_price: 149000
product_status: موجود
---

{% include header.html %}

<!-- Product Section -->
<section class="product-page">
    <div class="product-container">
        <!-- Product Image -->
        <div class="product-page-image">
            <img src="/statics/img/products/scoby/ph-11134201-7rasc-m3k5v2c5r5tbe3.jpeg" alt="قارچ کامبوچا" id="product-img">
        </div>

        <!-- Product Details -->
        <div class="product-details">
            <h1 id="product-name">{{page.product_name}}</h1>
            <ul>
                <li>وزن: ۲۵۰ گرم</li>
                <li>استارتر نیم لیتری کامبوجا چای سبز</li>
            </ul>

            <hr>
            <p class="price" id="product-price">{{page.product_price | toman}} تومان</p>
            <p class="availability">{{page.product_status}}</p>
            
            <!-- Add to Cart Button -->
            <button class="add-to-cart-btn" id="addToCartBtn">افزودن به سبد خرید</button>

            <!-- Product Description -->
            <div class="description">
                <h3>جزئیات محصول</h3>
                <p>
                    قارچ کامبوچای تازه و فعال به همراه نیم لیتر استارتر جهت تهیه ی کامبوجا در منزل میباشد که کاملا تازه و بهداشتی ارسال میشود.
                    به همراه قارچ و استارتر یک برگه ی طرز تهیه شامل تمام نکات لازم جهت تولید کامبوجا در منزل ارسال میشود.
                </p>
            </div>
        </div>
    </div>
</section>

{% include cart-modal.html %}
{% include cart-js.html %}
{% include footer.html %}