<!-- Cart Modal -->
<div class="cart-modal" id="cartModal">
    <div class="cart-content">
        <span class="close-cart">&times;</span>
        <h2>سبد خرید شما</h2>
        <div class="cart-items" id="cartItems">
            <!-- Cart items will be added here by JavaScript -->
        </div>
        <small class="has-text-danger has-text-weight-bold">+ هزینه ی ارسال به سراسر ایران :‌ ۷۹ هزار تومان</small>
        <div class="cart-total">
            <span>جمع کل:</span>
            <span id="cartTotalPrice">0 تومان</span>
        </div>

        <small>
            <div class="shamsi-dates box ">
                <p ><i class="bi bi-send"></i> تاریخ ارسال : <span id="tomorrow-date" class="has-text-weight-bold  has-text-primary"></span></p>
                <p><i class="bi bi-bag-check"></i> تاریخ حدودی تحویل : <span id="three-days-later" class="has-text-weight-bold  has-text-primary"></span></p>
            </div>
            <div class="divider">
            </div>
            <small>اگر قبلا از وب سایت دوگیجان خرید کرده اید اطلاعات شما با شماره ی موبایل شما ذخیره شده و نیازی به آدرس نیست به آدرس قبلی شما ارسال میشود</small>
        </small>
        <div>
            <button class="checkout-btn" id="checkoutBtn"><i class="bi bi-credit-card"></i> پرداخت سریع و ثبت سفارش</button>
        </div>

        <small>
            اگر به راهنمایی نیاز دارید صفحه ی نحوه ی ثبت سفارش را مطالعه بفرمایید
            <a href="{{site.url}}/page/submit-order">لینک مطالعه</a>
        </small>
    </div>
</div>