<!-- Footer - RTL -->
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>لینک‌های سریع</h3>
            <ul>
                <li><a href="{{site.url}}">صفحه اصلی</a></li>
                <li><a href="{{site.url}}/about.html">درباره ما</a></li>
                <li><a href="{{site.url}}/products.html">محصولات</a></li>
                <li><a href="{{site.url}}/contact.html">تماس</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>محصولات</h3>
            <ul>
                <li><a href="{{site.url}}/sauerkraut.html">ساورکرات</a></li>
                <li><a href="{{site.url}}/kimchi.html">کیمچی</a></li>
                <li><a href="{{site.url}}/kombucha.html">کامبوچا</a></li>
                <li><a href="{{site.url}}/produce.html">مولدها</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>تماس با ما</h3>
            <ul>
                <li>ایمیل: info@dugijan.ir </li>
                <li>تلفن تماس : ۰۹۳۵۶۶۶۳۳۸۶</li>
                <li>آدرس: آذربایجانشرقی - تبریز - مرکز پروبیوتیکی دوگیجان</li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>ما را دنبال کنید</h3>
            <div class="social-links">
                <a href="https://instagram.com/dugijan" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://t.me/dugijan" target="_blank"><i class="bi bi-telegram" ></i></a>
                <a href="https://basalam.com/samtrading" target="_blank"><i class="bi bi-bag-heart-fill"></i></a>
                <a href="https://dugijan.ir" target="_blank"><i class="bi bi-browser-chrome"></i></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        &copy; تمامی حقوق مادی و معنوی این سایت برای دوگیجان محفوظ است
    </div>
</footer>
<script src="/statics/js/app.js?v=1"></script>
</body>

</html>