<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.canonical }}" />
    <title>{% if page.title %}{{ page.title }}{% else %} دوگیجان {% endif %}</title>
  
  <link rel="stylesheet" href="/statics/css/app.css?v=3">
  <link rel="stylesheet" href="/statics/css/icons.css">
  
</head>

<body>
    <!-- Header with Navigation - RTL -->
    <header>
        <div class="header-container">
            <a href="{{ site.url }}" class="logo">
                <img class="dugijan-logo" src="/statics/img/dugijan-logo.svg?v=1" alt="لوگو وب سایت دوگیجان">
            </a>
            <div class="menu-toggle">☰</div>
            <nav id="mainNav">
                <ul>
                    <a href="{{ site.url }}"><li>صفحه اصلی </li></a>
                    <a href="{{site.url}}/page/products"><li>محصولات</li></a>
                    <a href="{{site.url}}/page/submit-order"><li>نحوه ی ثبت سفارش</li></a>
                    <a href="{{site.url}}/page/blog"><li>وبلاگ</li></a>
                    <a href="{{site.url}}/page/contact"><li>تماس با ما</li></a>
                    <a href="#" id="cart-menu-item" class="cart-menu"><li>سبد خرید (<span class="cart-count">0</span>)</li></a>
                </ul>
            </nav>
        </div>
    </header>