<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{page.canonical}}" />
    <title>{% if page.title %}{{ page.title }} | دوگیجان{% else %}دوگیجان تولیدات پروبیوتیکی{% endif %}</title>
    <link rel="stylesheet" href="/statics/css/app.css?v=2">
    <link rel="stylesheet" href="/statics/css/icons.css">
</head>

<body>
    <!-- Header with Navigation - RTL -->
    <header>
        <div class="header-container">
            <a href="{{ site.url }}" class="logo">
                <img class="dugijan-logo" src="/statics/img/dugijan-logo.svg?v=1" alt="لوگو وب سایت دوگیجان">
            </a>
            <div class="menu-toggle">☰</div>
            <nav id="mainNav">
                <ul>
                    <li><a href="{{ site.url }}">صفحه اصلی </a></li>
                    <li><a href="{{site.url}}/products.html">محصولات</a></li>
                    <li><a href="{{site.url}}/submit-order.html">نحوه ی ثبت سفارش</a></li>
                    <li><a href="{{site.url}}/blog.html">وبلاگ</a></li>
                    <li><a href="{{site.url}}/contact.html">تماس با ما</a></li>
                </ul>
            </nav>
        </div>
    </header>