<div class="feature-container-xz">
  <div class="feature-box-yb">
    <i class="bi bi-truck feature-icon-kl"></i>
    <h3 class="feature-title-pq">ارسال سریع</h3>
    <p class="feature-text-mn">اولین روز کاری بعد از ثبت سفارش</p>
  </div>

  <div class="feature-box-yb">
    <i class="bi bi-cup-straw feature-icon-kl"></i>
    <h3 class="feature-title-pq">۱۰۰٪ ارگانیک</h3>
    <p class="feature-text-mn">تضمین کیفیت و ارگانیک بودن</p>
  </div>

  <div class="feature-box-yb">
    <i class="bi bi-headset feature-icon-kl"></i>
    <h3 class="feature-title-pq">پشتیبانی</h3>
    <p class="feature-text-mn">پشتیبانی دائمی برای مشتریان</p>
  </div>

  <div class="feature-box-yb">
    <i class="bi bi-shield-check feature-icon-kl"></i>
    <h3 class="feature-title-pq">ضمانت بازگشت</h3>
    <p class="feature-text-mn">تا ۷ روز بعد از خرید امکان مرجوعی</p>
  </div>
</div>