<div>
  <h2>کیمچی چیست ؟ </h2>
  <p>
    کیمچی یک چاشنی تخمیری هست که جزو غذاهای رسمی و سنتی کشور کره ی جنوبی حساب میشود
    اما به علت خواص معجزه آسای آن در دیگر کشورهای جهان نیز محبوبیت دارد ، کیمچی
    به روش تخمیر تهیه میشود و در فرآیند تخمیر پروبیوتیک ها و مواد معدنی بسیار مفیدی تولید میشود

  </p>
  <p>
    <img src="/statics/img/products/kimchi/classic/خرید کیمچی .jpg" alt="خرید کیمچی" />
  </p>
  <h2>خواص مفید کیمچی برای سلامتی چیست </h2>
  <p>
    کیمچی علاوه بر طعم منحصر به فرد دارای خواص بی نظیری نیز میباشد که در لیست زیر آنها را مشاهده میفرمایید
  <ul class="custom-list">
    <li>سلامت روده و گوارش</li>
    <li>چربی سوز عالی و ایجاد تناسب اندام</li>
    <li>باعث هضم راحت غذاها </li>
    <li>افزایش متابولیسم بدن بعلت فلفلی بودن</li>
    <li>دارای ویتامین سی و مواد عالی برای رفع عفونت ها</li>
    <li>مقوی معده و رفع دردهای استرسی معده بعلت وجود پروبیوتیک ها</li>
    <li>ضد استرس بعلت وجود ویتامین گروه ب و تحریک روده جهت تولید سرتونین و دیگر هورمن های شادی زا</li>
    <li>رفع یبوست و نفخ بعلت وجود اسید های ارگانیک و باکتری های مفید</li>
    <li> تقویت پوست و مو</li>
    <li>جوانساز طبیعی و روشن کننده پوست</li>
  </ul>
  <div class="divider"></div>
  <p>
    کیمچی در ابتدا در کشوره کره مورد استفاده ی مردم بود و کره ای ها از زمان های بسیار دور
    به شیوه ی سنتی از کیمچی استفاده میکردند ، در قرن های اخیر که مردم کشورهای دیگر آرام آرام
    با این ماده ی غذایی آشنا شدند محبوبیت این غذا در بین کشورهای اسیایی و اروپایی به شدت افزایش یافت
    یکی از این کشورها کشور خودمان ایران بود که مردم استقبال خیلی عالی از کیمچی کرده اند
  </p>
  </p>
  <h2>خرید کیمچی بصورت اینترنتی</h2>
  <p>
    ساختن کیمچی نیاز به دقت فراوان و وجود مواد اولیه خاصی می باشد که در بسیاری از مناطق ایران
    آن مواد اولیه پیدا نمیشود مخصوصا
    <a target="_blank" href="{{site.url}}/products/kimchi-sauce/"> سس کیمچی </a>
    و فلفل گوچوگارو
    <br>
    ما در تولیدی دوگیجان کیمچی اصل کره ی جنوبی با استفاده از مواد اولیه تازه و ارگانیک تولید میکنیم
    که منطبق بر دستور تهیه کیمچی اصل کره ی جنوبی میباشد
    <br>
    حالا میتونید خیلی راحت کیمچی خودتان را بصورت آنلاین سفارش دهید و هرکجای ایران که باشید آنرا تحویل بگیرید
  </p>
</div>