<h2>کامبوچا یا کامبوجا چیست </h2>
<div>
    <p>کامبوچا (kombucha) یک نوشیدنی تخمیری و گازدار هست که توسط قارچ کامبوجا به نام اسکوبی ساخته میشود</p>
    <p>این نوشیدنی هزاران سال پیش در شمال چین بوجود آمده و به دلیل خواص مفید فراوانش به تمام نقاط جهان منتقل شده است
    </p>
    <p>فرآیند تخمیر کامبوچا بین ۱۰ الی ۱۴ روز طول میکشد و در این مدت باکتری ها و آنزیم های مفید تولید میشود </p>
    <p>در مرحله ی دوم تخمیر که یک هفته طول میکشد کربنات سازی آغاز میشود و نوشیدنی تبدیل به یک نوشیدنی کامل گازدار میشود
    </p>
    <p>نوشیدنی کامبوچا لقب اکسیر سلامتی و جوانی را گرفته است زیرا سرشار از مواد مورد نیاز برای پاکسازی و جوانسازی بدن
        میباشد</p>
    <p>در ادامه خواص نوشیدنی کامبوچا را میخوانید</p>
</div>
<h2>خواص نوشیدنی کامبوچا چیست ؟ </h2>
<div>
    <p>نوشیدنی کامبوچا در طول فرآیند تخمیر که توسط قارچ کامبوچا انجام میگیرد
        مواد معدنی ، اسید های ارگانیک ، باکتری های مفید و ویتامین ها را تولید میکند که همه ی اینها
        نتیجه ی تخمیر مواد درون کامبوچا هستند ، نوشیدنی کامبوچا دارای خواص زیر میباشد :‌
    </p>
    <ul class="custom-list">
        <li>آرام بخش اعصاب و مناسب برای بیماری های روانی بعلت داشتن اسیدهای خاص ارگانیک و ویتامین های گروه ب </li>
        <li>جوانساز پوست و مو بعلت داشتن ویتامین سی </li>
        <li>تقویت سیستم گوارش بعلت وجود پروبیوتیک های طبیعی</li>
        <li>افزایش انرژی و متابولیسم و باعث چربی سوزی میشود بعلت کافئین کم و مفید و ترکیب ویتامین های گروب ب </li>
        <li>سم زدای بدن بعلت وجود اسید گلوکورنیک که باعث سم زدایی کبد میشود </li>
        <li>کاهش التهاب و تقویت قلب بخاطر وجود پلی فنول های مفید چای </li>
        <li>عالی برای درمان دیابت بخاطر اسید استیک موجود که جذب قند را کاهش میدهد </li>
        <li>کمک به هضم بهتر پروتئین ها بخاطر آنزیم های تولید شده در تخمیر</li>
    </ul>
</div>
<h2>نشانه های کامبوچای صحیح و درجه یک </h2>
<div>
    <p>
        کامبوچا باید توسط قارچ تازه ی کامبوچا تولید شود و چون یک نوشیدنی تخمیری هست هرنوع آلودگی باعث خراب شدن این
        نوشیدنی میشود
    </p>
    <p>
        ظروف استفاده شده برای تخمیر ، محیطی که در آن کامبوجا تخمیر میشود ، کیفیت مواد اولیه ، ترکیب صحیح مواد اولیه و
        ...
        مهم ترین عواملی هستند که
        بر خواص و طعم کامبوجا تاثیر میزارن
    </p>
    <p>
        زمان استاندارد تخمیر کامبوچا بین ۱۰ روز تا ۲۱ روز هست و تخمیر بیش از این مقدار یا کمتر از آن عملا باعث خراب شدن
        نوشیدنی کامبوچا میشود
        این زمان بازه ی استاندارد برای تولید نوشیدنی صحیح کامبوچا هست که متاسفانه در بازار برخی افراد
        با اعلام زمان های زیاد برای تخمیر این حس را ایجاد میکنند که اگر یک کامبوچایی زمان زیادی مثلا شش ماه تخمیر شده
        باشد
        معجونی فوق العاده است درحالیکه چنین نیست و کامبوچایی که بیش از ۲۱ روز تخمیر شود عملا پر از باکتری های وحشی و مضر
        میشود که به شدت
        مضر هستند
    </p>
    <p>کامبوچا بصورت استاندارد با شکر سفید تولید میشود و آن شکر هم صرف ساختن قارچ جدید کامبوچا میشود و
        مقدار بسیار کمی از آن درون نوشیدنی کامبوچا میماند
        مواد شیرین کننده ی دیگری مثل عسل ، آبمیوه ، شکر قهوه ای و ... باعث تخریب فرآیند تخمیر شده و نتیجه مطلوب بدست نمی
        آید
        ، پس هرگز به تبلیغات های کاذب که عنوان میکنند با عسل یا فلان ماده تخمیر شده توجه نکنید
    </p>
    <p>
        پایه ی کامبوچا چای هست چای سبز چای سیاه و یا چای اولانگ ... اگر چای وجود نداشته باشد تخمیر به شکل ناصحیحی اتفاق
        میوفتد
    </p>
    <p>وجود ترکیبات گیاهی معطر یا میوه جات و ...
        بعنوان درصد کمی در کنار چای به مایع نوشیدنی کامبوچا اضافه میشود
    </p>
    <p>
        کامبوجای سالم و درجه یک هرگز بویی زننده ندارد و بوی آن کمی به سرکه ی ارگانیک سیب نزدیک هست ، پس اگر
        یک کامبوچایی بوی نامطبوع دارد آنرا مصرف نکنید
    </p>
    <p>
        اگر بوی گوگرد یا تخم مرغ فاسد در کامبوجا حس کردید به معنی تخمیر ناصحیح آن کامبوجا بوده است و قابل استفاده نیست
        این ترکیبات گوگردی
        نشانه ی وجود یک سری باکتری های غیرمفید هست که در اثر تولید ناصحیح کامبوجا درون ان نوشیدنی رشد کرده و باید آنرا
        دور بریزید
    </p>
</div>
<h2>
    طریقه ی مصرف کامبوجا
</h2>
<p>
    کامبوجا برای عموم افراد مناسب هست اما برای کسانی که به تازگی قصد دارند کامبوچا را مصرف کنند بهتر است ابتدا
    روزانه تا ۱۰۰ میلی لیتر مصرف شود و بعد از چند روز که بدن نسبت به پروبیوتیک های جدید کامبوجا عادت کرد
    میتوانید تا ۴۰۰ میلی لیتر تا روز افزایش دهید و میل کنید

</p>
<p>
    اینکه کامبوچا را ناشتا مصرف کنید یا بعد از غذا بستگی به واکنش بدن خود شما دارد و هیچ نسخه ی ثابتی برای آن وجود ندارد
    اگر برای اولین بار است کامبوجا مصرف میکنید طبق برنامه ی زیر پیش بروید
</p>
<ul class="custom-list">
    <li>یک هفته ی اول روزانه ۱۰۰ میلی لیتر چند ساعت بعد از غذا مصرف کنید </li>
    <li>هفته ی دوم آنرا به میزان ۲۰۰ میلی لیتر در روز افزایش دهید </li>
    <li>روزهای بعدی میتوانید آنرا دو وعده و به میزان ۲۰۰ میلی لیتر یعنی جمعا ۴۰۰ میلی لیتر در روز مصرف کنید </li>
</ul>
<h2>
    موارد منع مصرف
</h2>
<p>
    کامبوچا یک نوشیدنی مفید و ارگانیک هست ابتدا از سالم و تازه بودن آن اطمینان حاصل کنید کامبوچا نباید
    بو و مزه ی بد و زننده ای داشته باشد
</p>
<p>اگر کامبوچا سالم و تازه بود افراد بالای ۵ سال میتوانند به راحتی آنرا مصرف کنند </p>
<p>نوشیدن کامبوجا برای بیماری های خاص که تحت درمان هستند با مشورت پزشک انجام بگیرد</p>
<p>نوشیدن کامبوچا توسط بانوان باردار با احتیاط انجام بگیرد یا حدالامکان از آن در دوران بارداری و شیردهی پرهیز شود </p>