<h2>ساورکرات چیست ؟ </h2>
<div>
    <p>ساورکرات یک نوع ترشی تخمیری است که در تهیه آن از سرکه یا مواد افزودنی دیگری استفاده نمیشود 
        بلکه قند درون کلم آزاد شده و تخمیر اتفاق میوفتد و در طی فرآیند تخمیر طعم ترشی مانند مثل سرکه تولید میشود ولی کاملا ارگانیک هست 
        این ترشی را در جهان با عنوان ترشی آلمانی یا کلم ترش تخمیری میشناسند که البته نام دیگری آن ساورکرات هست 
        هرچند ریشه ی تاریخی این ترشی تخمیری به چین باستان میرسد ولی امروزه در کشورهای غربی مخصوصا اروپا و آمریکا
        از ساورکرات در کنار فست فود استفاده میشود
    </p>
    <p>
        ساورکرات تولید شده در تولیدی دوگیجان با تهیه مواد اولیه شامل کلم ها و سبزیجات و ... مستقیم از مزرعه و کشاورزان میباشد
        و به همین علت با کیفیت درجه ی یک و با قیمت خوب تقدیم میشود
    </p>
</div>
<h2>خواص ساورکرات </h2>
<div>
    <p>ساورکرات یک ترشی تخمیری هست که سرشار از پروبیوتیک های طبیعی و مفید است همچنین ساورکرات سرشار
        از انواع ویتامینها و مواد معدنی برای سلامتی و پاکسازی بدن میباشد که در لیست زیر بخش کوتاهی از آنها را مطالعه میکنید 
    </p>
    <ul class="custom-list">
        <li>سرشار از پروبیوتیک ها که به سلامت روده و بهبود گوارش کمک میکنه </li>
        <li> تقویت سیستم ایمنی : بعلت وجود ویتامین سی و پروبیوتیک های مفید</li>
        <li>سلامت استخوان ها : بعلت وجود آهن ، پتاسیم و فیبر </li>
        <li>کمک به هضم غذا : بعلت آنزیم های تخمیری</li>
        <li>تناسب اندام : بعلت کالری پایین و فیبر بالا </li>
        <li>سلامت روان : بعلت سلامت روده و تولید هورمون های ضد استرس از سمت روده </li>
        <li>تنظیم قند خون : بعلت فیبر و مواد دیگری که قند خون را به تعادل میرساند </li>
        <li>سلامت قلب :‌بعلت وجود آنتی اکسیدان و بهبود فشار خون بخاطر فیبر موجود </li>
        <li>جوانسازی : بعلت مواد مغذی و ویتامین سی و فیبر</li>
        <li>اشتها آور برای کودکان</li>
        <li>رفع یبوست کودکان و بزرگ سالان</li>
        
    </ul>
    <p>
        همانطور که مشاهده میکنید ساورکرات تنها یک چاشنی لذیذ در کنار غذا نیست بلکه دارو هست دارویی برای بیماری های مزمن و بیماری هایی که با سلامت گوارش سر و کار دارند
    </p>
    <p>یکی از ویژگیهای ساورکرات تقویت معده و کاهش دردهای استرسی معده هست بطوری که برخی از افراد بعد از مصرف
        روزمره ساورکرات درد معده ی چند ساله ی آنها کاملا رفع شده است
    </p>
</div>
<h2>ساورکرات اصیل چه ویژگی هایی دارد </h2>
<div>
    ساورکرات با کیفیت باید با مواد اولیه با کیفیت و تازه تولید شود استفاده از نمک صورتی اولویت هست زیرا نمک ید دار سفید
    باعث تخریب فرآیند تخمیر میشود و نتیجه نهایی طعم و خواص اصلی را نخواهد داشت
    ما در تولیدی دوگیجان برای تولید ساورکرات از نمک صورتی ارگانیک معدنی استفاده میکنیم 
    <p>
        همچنین مزه ی ساورکرات باید ترشی ملایم داشته باشه هر نوع ساورکراتی که ترشی خیلی تیز یا ترشی خیلی کم داشته باشد نامناسب است 
    </p>
    <p>
        بوی ساورکرات نباید حس ناخوشایندی ایجاد کند اگر بوهای غیرمعمول یا ناخوشاید احساس میکنید 
        ساورکرات سالم نیست و بهتر است از مصرف آن خودداری کنید
    </p>
    <p>
        ساورکرات در فرآیند تخمیر به اندازه ی ۱ درصد الکل تولید میکند که بسیار مفید است و اصلا خاصیت مست کنندگی ندارد
        اگر بوی کم الکل حس میکنید ایرادی ندارد بخاطر وجود الکل ارگانیک هست ولی این بو نباید زیاد به چشم بیاید یا زننده باشد
        اگر بوی شدید الکل حس کردید تخمیر بیش از حد بوده یا ساورکرات بسیار کهنه هست و آنرا بهتر است مصرف نکنید
    </p>
</div>
<h2>انواع ساورکرات </h2>
<div>
    <p>در دنیا ساورکرات های مختلفی تهیه میشود ولی بصورت مرسوم ساورکرات های زیر محبوب هستند و البته 
        در تولیدی دوگیجان ساورکرات های زیر نیز طبق دستور اصلی و با کیفیت درجه یک و تازه تولید میشود 

    </p>
    <ul class="custom-list">
        <li>ساورکرات ساده ی سفید یا کلم ترش سفید تخمیری </li>
        <li>ساورکرات قرمز یا کلم ترش بنفش تخمیری </li>
        <li>ساورکرات طلایی یا کلم ترش زرد تخمیری </li>
        <li>ساورکرات کلم خیار یا کلم ترش خیار تخمیری با شوید</li>

    </ul>
</div>
<h2>ثبت سفارش و ارسال </h2>
<div>
    <p>
        شما میتوانید به راحتی از قسمت
        <a target="_blank" href="{{site.url}}/products">فروشگاه دوگیجان</a>
        ساورکرات خود را سفارش دهید و در هر کجای ایران که باشید ساورکرات به دست شما خواهد رسید.
    </p>
    <p>
        تمامی سفارشات ساورکرات یک روز بعد از ثبت سفارش تحویل داده میشود تا ارسال انجام بگیرد . 
    نوع ارسال ، مدت زمان رسیدن به مقصد ،‌شیوه ی بسته بندی و ... به فاصله ی مبدا تا مقصد بستگی دارد و تمام سعی دوگیجان این است
    که بسته بندی عالی و ارسال سریع اتفاق بیوفتد تا در کمترین زمان ممکن به دست مشتری برسد
    </p>
</div>
