---
canonical: "https://dugijan.ir/products"
title: "لیست محصولات پروبیوتیکی دوگیجان"
---

{% include header.html %}
<main>
    <section>
        <div>
            <h2> فروشگاه محصولات دوگیجان </h2>
            <small>
                یکی از دسته بندی های زیر را انتخاب کنید تا محصولات درون آن نمایش داده شود
            </small>
        </div>
        <div class="products-container">
            <a class="product-box" href="{{site.url}}/category/kimchi">
                <div class="product-image">
                    <img src="/statics/img/categories/kimchi-category.jpg" alt="دسته بندی کیمچی">
                </div>
                <div class="product-title">کیمچی ها </div>
            </a>
            <a class="product-box" href="{{site.url}}/category/kombucha">
                <div class="product-image">
                    <img src="/statics/img/categories/kombucha-category.jpg" alt="دسته بندی کامبوجا">
                </div>
                <div class="product-title">کامبوچا ها</div>
            </a>
            <a class="product-box" href="{{site.url}}/category/sauerkraut">
                <div class="product-image">
                    <img src="/statics/img/categories/sauerkraut-category.jpg" alt="دسته بندی ساورکرات">
                </div>
                <div class="product-title">ساورکرات ها</div>
            </a>
            <a class="product-box" href="{{site.url}}/category/fermented-pickle">
                <div class="product-image">
                    <img src="/statics/img/categories/pickled-cucumbe.jpg" alt="دسته بندی خیارشور تخمیری">
                </div>
                <div class="product-title">خیارشور تخمیری</div>
            </a>
            <a class="product-box" href="{{site.url}}/category/produce">
                <div class="product-image">
                    <img src="/statics/img/categories/holding-the-scoby2.jpg" alt="دسته بندی مولدهای تخمیری">
                </div>
                <div class="product-title">مولد ها ( وسایل تولید )</div>
            </a>
            <!-- Add more product boxes as needed -->
        </div>
        <div class="divider"></div>
        <div class="has-text-centered">
            <img class="banner-img" src="/statics/img/pages/فروشگاه اینترنتی دوگیجان - خرید محصولات پروبیوتیکی .jpg" alt="فروشگاه اینترنتی دوگیجان">
        </div>
        <div class="notification is-light">
            در فروشگاه دوگیجان محصولات پروبیوتیکی و تخمیری به فروش میرسد و تمامی محصولات درج شده تولیدی 
            خودمان میباشد که بصورت ارگانیک ساخته میشوند 
            <br>
            بندهای زیر در فروشگاه اینترنتی دوگیجان باعث میشود با خیال راحت خرید خود را انجام دهید : 

            <ul>
                <li>🌿️ تا یک هفته پس از تحویل مرسوله امکان مرجوعی وجود دارد</li>
                <li>🌿️ تمامی محصولات دارای برچسب ارگانیک و حلال می باشد</li>
                <li>🌿️ بعد از خرید و حتی تحویل پشتیبانی انجام میشود</li>
                <li>🌿️ خریدها در اولین روز کاری بعد از خرید تحویل پُست داده میشود</li>
                <li>🌿️ بسته بندی به شیوه ی خاص و با محافظت کامل انجام میگیرد و کوچک ترین آسیب به مرسوله وارد نمیشود</li>
            </ul>
        </div>

    </section>
</main>
{% include footer.html %}