---
canonical: "https://dugijan.ir/category/kimchi"
title: "دسته بندی کیمچی"
---

{% include header.html %}
<main>
    <section>
    <div class="breadcrumbs">
        <a href="{{site.url}}/products">فروشگاه</a>/
        <span>{{page.title}}</span>
    </div>
    <div class="category-content">
        <h1>فروشگاه  کیمچی</h1>
    </div>
    {% assign kimchi-items = site.products | where_exp: "item", "item.path contains '_products/kimchi/'" %}


    <div class="products-container">
        {% for product in kimchi-items %}

        <a class="product-box" href="{{product.url}}">
            <div class="product-image">
                <img src="{{product.image}}" alt="{{product.title}}">
            </div>
            <div class="product-title">{{product.name}}</div>
            <div class=" product-title product-price">{{product.price}} تومان</div>
        </a>
        {% endfor %}
    </div>
</section>
</main>
{% include footer.html %}