---
canonical: https://dugijan.ir/category/kombucha
title: دسته بندی کامبوچا
meta_description: کامبوچا یک نوشیدنی تخمیری هست که توسط قارچ کامبوجا بعمل میاد شما میتونید محصولات کامبوجا رو اینجا ببینید
---

{% include header.html %}
<main>
    <section>
        <div class="breadcrumbs">
            <a href="{{site.url}}/products">فروشگاه</a>/
            <span>{{page.title}}</span>
        </div>
        <div class="category-content">
            <h1> فروشگاه کامبوچا </h1>
        </div>

        {% assign kombucha-items = site.products | where_exp: "item", "item.path contains '_products/kombucha/'" %}

        <div class="products-container">
            {% for product in kombucha-items %}

            <a class="product-box" href="{{product.url}}">
                <div class="product-image">
                    <img src="{{product.image}}" alt="{{product.title}}">
                </div>
                <div class="product-title">{{product.name}}</div>
                <div class=" product-title product-price">{{product.price}} تومان</div>
            </a>

            {% endfor %}

        </div>
        {% include shop-feature.html %}
    </section>
</main>
{% include footer.html %}