---
canonical: "https://dugijan.ir/category/produce"
title: "مولد های تولید محصولات پروبیوتیکی"
---

{% include header.html %}
<main>
  <div class="">
    در این بخش مولد ها یعنی مواد لازم برای تولید انواع خوراکی ها و نوشیدنی های پروبیوتیکی قرار گرفته است که دوگیجان آنها را عرضه میکند
  </div>
<div class="products-container">

    <a class="product-box" href="{{site.url}}/product/produce/scoby">
      <div class="product-image">
        <img src="/statics/img/products/scoby/ph-11134201-7rasc-m3k5v2c5r5tbe3.jpeg" alt="خرید قارچ کامبوچا ( کامبوجا )">
      </div>
      <div class="product-title"> قارچ کامبوچا </div>
      <div class=" product-title product-price">۱۴۹ هزار تومان</div>
    </a>

    <a class="product-box">
      <div class="product-image">
        <img src="/statics/img/products/scoby-pack/lfIpUNtu9RUFpac60zhIRrE9S1i8tbce1V8i1KTLoVr4rVvGrr.jpg_800X800X70.jpg" alt="پک کامبوجا ساز">
      </div>
      <div class="product-title">پک کامبوجا ساز</div>
      <div class=" product-title product-price">۴۹۹ هزار تومان</div>
    </a>
    <!-- Add more product boxes as needed -->
  </div>
</main>
{% include footer.html %}