---
canonical: https://dugijan.ir/category/sauerkraut
title: دسته بندی ساورکرات
meta_description : ساوکرات یا همان کلم ترش تخمیری هست که یک ترشی کاملا سالم بدون سرکه هست و مبدا آن آلمان میباشد خرید ساورکرات از اینجا
---

{% include header.html %}
<main>
    <section>
        <div class="breadcrumbs">
            <a href="{{site.url}}/products">فروشگاه</a>/
            <span>{{page.title}}</span>
        </div>
        <div class="category-content">
            <h1>دسته بندی محصولات ساورکرات</h1>
        </div>
        {% assign sauerkraut-items = site.products | where_exp: "item", "item.path contains '_products/sauerkraut/'" %}

        <div class="products-container">
            {% for product in sauerkraut-items %}

            <a class="product-box" href="{{product.url}}">
                <div class="product-image">
                    <img src="{{product.image}}" alt="{{product.title}}">
                </div>
                <div class="product-title">{{product.name}}</div>
                <div class=" product-title product-price">{{product.price}} تومان</div>
            </a>

            {% endfor %}

        </div>
        {% include shop-feature.html %}
    </section>

</main>
{% include footer.html %}