---
title: "درباره ما "
canonical: "https://dugijan.ir/page/about"
---

{% include header.html %}
<main>
    <section>
        <h2> درباره ی دوگیجان  </h2>
        <div>
            <!-- content about here  -->
            <p style="text-align: right;"><strong>سالم بودن و کیفیت عالی</strong> تنها هدف و شعار <strong>دوگیجان</strong> است ما در دوگیجان<strong> برای اولین بار</strong> در ایران مواد غذایی <strong>پروبیوتیکی </strong>با کیفیت درجه یک&nbsp; تولید میکنیم که ضامن سلامتی و شادی جسم و روح است&nbsp;</p>
            <p style="text-align: right;">در دوگیجان<strong> خیلی مهمه</strong> که مواد تولیدی<strong> هیچ نوع مواد نگهدارنده</strong> نداشته باشه و تمامی تولیدات ما ۱۰۰٪&zwnj; <strong>ارگانیک</strong> باشه بخاطر همین ما هیچ نوع نگه دارنده ، مواد شیمیایی ، رنگ غذایی ، اسید ها و سرکه و ... استفاده نکرده و نخواهیم کرد</p>
            <p style="text-align: right;">بصورت کلی ما چهار دسته بندی تولید میکنیم که در زیر میتوانید آنها را ببینید&nbsp;</p>
            <ul>
            <li style="text-align: right;">چاشنی های پروبیوتیکی مثل کیمچی ، ساورکرات و ...</li>
            <li style="text-align: right;">نوشیدنی های پروبیوتیکی مثل کامبوچا ، کفیر و ...</li>
            <li style="text-align: right;">خیارشور تخمیری</li>
            <li style="text-align: right;">مولد و مواد لازم برای موارد بالا</li>
            </ul>
            <h2 style="text-align: right;">نحوه ی تولید محصولات دوگیجان&nbsp;</h2>
            <p style="text-align: right;">در تولید محصولات دوگیجان نهایت دقت میشود تا محصول ۱۰۰٪&zwnj; ارگانیک و بدون مواد مضر باشد به همین علت ما هیچ نوع افزودنی شیمیایی مثل نگهدارنده ها یا مواد اسیدی مثل سرکه های فرآوری شده و امثالهم را در تولیدات خود مصرف نمیکنیم</p>
            <p style="text-align: right;">در تولید محصولات دوگیجان در صورت نیاز به نمک از نمک های فرآوری شده کارخانه ای استفاده نمیشود و در عوض از نمک صورتی رنگ ارگانیک بدون ید که از معادن نمک استان سمنان بدست می آید استفاده میکنیم این نوع نمک ها ضرر کمتری نسبت به نمک های فرآوری شده دارند و برای افرادی که فشار خون و ... دارند نیز مناسب میباشد تا ضرر نمک به حداقل برسد</p>
            <p style="text-align: center;"><img src="/statics/img/pages/about/dugijan-factory-01.jpg" alt="کارخانه ی دوگیجان در تبریز" width="600" height="100%" /></p>
            <p style="text-align: right;">محصولات تخمیری به صورت کاملا صحیح تخمیر میشوند تا باکتری های مفید پروبیوتیکی درون آن ماده غذایی تولید شود و به همین علت محصولات دوگیجان جنبه ی دارویی نیز دارد&nbsp;</p>
            <p style="text-align: right;">ظروفی که برای تخمیر استفاده میکنیم ظروف شیشه ای با کیفیت یا ظروف سفالی لعابدار میباشد ، در فرآیند تخمیر هیچ مواد مضر و اضافه ای به مواد اصلی غذایی اضافه نمیشود و کاملا سالم میماند</p>
            <p style="text-align: right;">مواد اولیه برخی محصولات مثل کیمچی که درون آن از زنجبیل استفاده میشود بجای استفاده از زنجبیل خشک یا پودر زنجبیل از زنجبیل تازه استفاده میشود و باقی مواد استفاده شده برای همه ی تولیدات دوگیجان نیز به همین روال است و هیچ ماده ی غیرتازه و غیرارگانیک درون محصولات استفاده نمیشود</p>
            <p style="text-align: right;">بسته بندی مواد&nbsp; به شیوه ای انجام میگیرد که در حمل و نقل هیچ آسیبی به آنها نرسد و ریزش نداشته باشد با کسب تجربه ی ارسال صدها بسته به نقاط مختلف ایران ، بازبینی در بسته بندی بارها انجام شده و اکنون به بسته بندی دست یافتیم که بدون کوچکترین آسیب به همه جای ایران ارسال میشود</p>
            <p style="text-align: right;">&nbsp;</p>
            <h2 style="text-align: right;">کنترل دقیق مواد اولیه&nbsp;</h2>
            <p style="text-align: right;">ما در تولیدی دوگیجان میزان مواد اولیه ، مدت زمان تخمیر ، میزان پی هاش و ... را با دقت تمام بررسی میکنیم و هربار تجربه ی جدیدی کسب میکنیم که باعث میشود محصول بعدی یک سر و گردن بهتر از مرحله ی قبلی باشد</p>
            <p style="text-align: right;">میزان ادویه استفاده شده و نوع ادویه در چاشنی ها&nbsp;</p>
            <p style="text-align: right;">میزان تخمیر نوشیدنی ها و میزان قند آنها</p>
            <p style="text-align: right;">دقت در تخمیر ساورکرات ها و ...</p>
            <p style="text-align: right;">همگی بصورت کامل و با حوصله بررسی میشود تا محصول نهایی تولید شده بهترین کیفیت را داشته باشد&nbsp;</p>
            <p style="text-align: right;">&nbsp;</p>
            <h2 style="text-align: right;">نحوه ی ارسال محصولات&nbsp;</h2>
            <p style="text-align: right;">&nbsp;محصولات را در مدت زمان کمی به دست مشتریان میرسانیم&nbsp; از آنجایی که ما در شهر تبریز مستقر هستیم هرچه به شهر تبریز نزدیک تر باشید خرید شما سریعتر بدستتان میرسد مثلا اگر از خوده شهر تبریز باشید ممکن است یک الی دو ساعت دیگر سفارش دم در خانه ی شما باشه</p>
            <p style="text-align: right;">اگر تهران یا استان های شمالی باشید ۲ الی ۳ روز دیگر محصول بدستتان میرسد</p>
            <p style="text-align: right;">اگر کمی دورتر باشید مثلا در اصفهان یا یزد و ... ۳ الی ۴ روز بعد بدستتون میرسه</p>
            <p style="text-align: right;">یا اگه خیلی دور باشید مثلا در سیستان بلوچستان یا بندرعباس و ... بین ۳ الی ۶ روز طول میکشه</p>
            <p style="text-align: right;">اکثر بسته ها با استفاده از پست پیشتاز ارسال میشود ولی اگر شیوه ی ارسال دیگری را مناسب تر ببینیم قطعا با آن ارسال میکنیم و تمام هدف ما ارسال سالم و سریع مرسوله به دست مشتریان می باشد</p>
            <p style="text-align: right;">بسته بندی ها در ظروفی محکم و پلمپ شده ارسال میشود و هیچ نوع&nbsp; آسیبی در طول مسیر به بسته نمیرسد</p>
            <p style="text-align: right;">ما به دورترین نقطه از تبریز مثل استان سیستان بلوچستان ، شهر بندرعباس ، خوزستان و ... ارسال داریم و محصولات ما بدون کوچکترین صدمه و به شکل عالی بدست مشتریان میرسد</p>
            <p style="text-align: right;">&nbsp;</p>
            <p style="text-align: right;">در نهایت این ما هستیم یک مجموعه ی کوچک که عشقش تولید محصولات پروبیوتیکی و سالم هست محصولاتی که نه تنها جنبه ی لذت دارد بلکه جنبه ی درمانی نیز دارد و وقتی مشتری بعد از مصرف محصولات ما مشکلات بدنی اش حل میشود بسیار خوشحال میشویم&nbsp;&nbsp;</p>
            <p style="text-align: right;">&nbsp;</p>
            <!-- end content about -->
        </div>
    </section>
</main>
{% include footer.html %}