---
title: "درباره ی دوگیجان"
canonical: "https://dugijan.ir/page/about"
---

{% include header.html %}
<main>
    <section>
        <h2>محصولات پروبیوتیکی دوگیجان</h2>
        <div>
            <!-- content about here  -->
            <p style="text-align: right;">پائیز سال ۱۴۰۳ هجری شمسی بود نقطه ی شروع جدی مجموعه ی دوگیجان و تولیدات محصولات پروبیوتیکی بود که در مدت زمان بسیار کمی توانستیم به فروش بالایی برسیم و تنها راز موفقیت ما کیفیت بسیار بالا بود بطوری که اصلی ترین هدف ما در مجموعه ی دوگیجان کیفیت است نه چیز دیگری&nbsp;</p>
            <p style="text-align: right;">ما با تولید دقیق و با کیفیت محصولات پروبیوتیکی مثل انواع کیمچی ها ، ساورکرات ها ، نوشیدنی کامبوجا ، کفیر و دیگر محصولات پروبیوتیکی در خدمت مردم عزیز در سرتاسر ایران هستیم و محصولات خود را به دورترین نقاط ایران نیز میرسانیم</p>
            <p style="text-align: right;">&nbsp;</p>
             <!-- end content about -->
        </div>
    </section>
</main>
{% include footer.html %}