---
title: "تماس با ما"
canonical: "https://dugijan.ir/page/contact"
---

{% include header.html %}
<main>
    <section>
        <div class="has-text-centered">
            <img class="banner-img" src="/statics/img/pages/تماس-با-ما.jpg" alt="تماس با دوگیجان">
        </div>
        <div class="has-text-centered">


            <h1>اطلاعات تماس با دفتر مرکزی دوگیجان</h1>

            <h2><i class="bi bi-geo-alt-fill"></i> آدرس ما </h2>
            <address>
                {{site.address}}
            </address>
            <div class="divider"></div>
            <h2><i class="bi bi-telephone-outbound-fill"></i> اطلاعات تماس</h2>
            <p>
            <p> تلفن : {{site.mobile}}</p>
            <p>واتساپ : {{site.mobile}}</p>
            <p>ایمیل :‌ {{site.email}}</p>
            <div class="divider"></div>
                <small><i class="bi bi-check-square"></i>
                    امکان ثبت سفارشات بصورت تلفنی یا پیامک نیز مقدور میباشد
                </small>
            </p>
            <div class="divider"></div>
            <h2><i class="bi bi-balloon-heart"></i> ما را دنبال کنید</h2>
            <p>
                <a href="https://instagram.com/dugijan" class="social-icon" target="_blank"><i
                        class="bi bi-instagram"></i></a> |
                <a href="https://t.me/dugijan" class="social-icon" target="_blank"><i class="bi bi-telegram"></i></a>
            </p>
        </div>
    </section>
</main>
{% include footer.html %}