---
title: "نحوه ی ثبت سفارش از فروشگاه دوگیجان"
canonical: "https://dugijan.ir/page/submit-order"
---

{% include header.html %}
<main>
   <section>
      <h1>ثبت سفارش</h1>
      <p>ثبت سفارش در سایت دوگیجان بسیار راحت است کافیست به قسمت فروشگاه مراجعه کنید و هر محصولی که نیاز بود را به سبد
         خرید
         اضافه کنید ولی چند نکته وجود دارد که به آن دقت کنید
      </p>
      <ul>
         <li>تعداد هر محصول را میتوانید در سبد خرید کم و زیاد کنید مثلا اگر یک محصول ۲۵۰ گرمی را دو عدد ثبت کنید ۵۰۰ گرم
            ارسال میشود</li>
         <li class="has-text-primary">برای راحتی خرید نیاز به ثبت نام توسط خودتان نیست و سیستم خود بخود انجام میدهد</li>
         <li>آدرس محل دریافت و کدپستی را در بخش توضیحات بنویسید و پرداخت بزنید</li>
         <li class="has-text-primary">حتما یک شماره موبایل در دسترس ثبت کنید درصورت نیاز با آن تماس گرفته میشود</li>
         <li>نیازی به نوشتن ایمیل نیست ولی بصورت اختیاری میتوانید وارد کنید</li>
      </ul>
      <div class="divider"></div>
      <h3>ویدیو آموزش ثبت سفارش در سایت دوگیجان</h3>

      <div class="video-container-4xhg">
         <video class="video-4xhg"  controls>
            <source src="/statics/video/how-submit-order-in-dugijan.mp4" />
         </video>
      </div>

   </section>
</main>
{% include footer.html %}